.exporter-wrapper h3, .export-div h2, .import-div h2, #emails-tab form h3 {
  padding-bottom: 23px;
  color: #00a0d2;
  font-size: 23px;
}

.import-div button.import-templates-btn {
  display: block;
  margin-top: 20px;
}

.exporter-filter .exporter-filter-label, #emails-tab .form-table th {
  color: #6c6c6c;
  font-size: 18px;
  margin-bottom: 20px;
}

.exporter-filter .search-choice {
  background: transparent !important;
  min-width: 71px;
  border-radius: 0 !important;
}

#sortable .edit_name_wrapper {
  margin-top: 10px;
  border-top: 1px solid #AAA;
  padding-top: 8px;
}

#sortable .edit_name_wrapper button {
  display: block;
  margin: 15px auto 0px;
  min-width: 43px;
  min-height: 30px;
  background: transparent;
  border: 1px solid #AAA;
  cursor: pointer;
}

#sortable .edit_name_wrapper input.coloum_name {
  width: 100%;
}

#sortable .edit_name_wrapper .err-msg {
  text-align: center;
}
.ui-tabs.ui-widget .ui-tabs-anchor:hover,
li.ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active a,
li.ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active:after{
  color:#036a8a;
  cursor: pointer;
}

li.ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active:after {
  content: '';
  position: absolute;
  bottom: -21px;
  margin: auto;
  right: 40%;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #DDD;
}

.exporter-filter .chosen-choices {
  /*border-radius: 18px;*/
  padding: 5px;
  margin-bottom: 20px;
}

.exporter-wrapper input[type="text"] {
  width: 34%;
}

.ui-tabs.ui-widget .ui-widget-header {
  background: transparent;
  border: 0;
  border-bottom: 1px solid #DDD;
}

.ui-tabs.ui-widget .ui-state-default.ui-corner-top {
  width: 10%;
  background: transparent;
  padding: 14px;
  margin-right: 20px;
  margin-bottom: 0;
  border: 0;
}


.ui-tabs.ui-widget .ui-tabs-anchor {
  display: block;
  text-align: center !important;
  float: none;
}

.exporter-filter label {
  cursor: pointer;
  width: 14%;
  display: inline-block;
  /*margin-bottom: 10px;*/
}


/*select*/

#sortable .ui-state-default {
  padding: 10px;
  background: transparent;
  text-align: left;
  min-width: 270px;
}

#sortable span.ui-icon.ui-icon-arrowthick-2-n-s {
  display: inline-block;
  float: left;
  margin-right: 20px;
}

#sortable span.text {
  text-align: center;
}

#sortable .edit_name {
  float: right;
}


/*selectable*/

.export-fields-wrapper {
  width: 100%;
}

.exporter-data {
  width: 50%;
  display: inline-block;
}

.export-fields-wrapper .exporter-data .exporter-data-label {
  margin-left: 28px;
  display: inline-block;
}

.export-fields-wrapper .exporter-data .exporter-data-heading {
  /*width: 70%;*/
  background-color: rgba(0, 160, 210, 0.55);
  color: #FFF;
  padding: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sort-div {
  width: auto;
  display: inline-block;
  vertical-align: top;
  margin-top: 0px;
  margin-left: 0px;
}

.ui-sortable .ui-state-default span.text, 
.ui-sortable .ui-state-default span.edit_name {
  color: #fff !important;
  text-align: left !important;
  font-weight: 600;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.ui-sortable .ui-state-default span.ui-icon {
  color: #fff !important;
  opacity: 1;
}

.ui-sortable .ui-state-default .dashicons {
  color: #fff !important;
}

.template_manage_wrapper .save_template_wrapper {
    display: inline-block;
}

#wbe_progressbar {
  background-color: #fff;
  border-radius: 13px;
  /* padding: 3px; */
  max-width: 500px;
  display: none;
  border: 1px solid #000;
}

#wbe_progressbar>div {
  background-color: rgba(0, 160, 210, 0.55);
  width: 1%;
  text-align: center;
  font-weight: bold;
  height: 20px;
  border-radius: 10px;
  color: #fff;
}

.wbe-delete-template {
  margin-left: 5%;
  color: rgb(32 106 138)!important;
  text-decoration: none;
  float: right;
}

.export-div {
  width: 35%;
}